<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <!--Facebook test App id and secret-->
    <add key="AppId"  value="613176818891159" xdt:Transform="Remove" />
    <add key="AppSecret"  value="c8f3bd45852df91726575818608b6485" xdt:Transform="Remove" />
    <!--Facebook original App id and secret-->
    <add xdt:Transform="Insert" key="AppId"  value="613158672226307" />
    <add xdt:Transform="Insert" key="AppSecret"  value="091fb807e2259136b9a3d6e27c2598f7" />
  </appSettings>
  
  <connectionStrings>
    <add name="ContactWebContext" xdt:Transform="Remove" />
    <add name="ContactWebContext"
         connectionString="Server=502e5494-cecf-44ba-8450-a70e0077b6cf.sqlserver.sequelizer.com; Database=db502e5494cecf44ba8450a70e0077b6cf; User Id=frowtaphorbgqbvo; Password=2nj4DNE5GWDBmQMRDtpWH5o7ZntkytynxjrZAntFjMt6Dhe2ctSsVda58kcqttEo;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Insert"/>
    
    <add name="DefaultConnection" xdt:Transform="Replace"
         connectionString="Server=502e5494-cecf-44ba-8450-a70e0077b6cf.sqlserver.sequelizer.com; Database=db502e5494cecf44ba8450a70e0077b6cf; User Id=frowtaphorbgqbvo; Password=2nj4DNE5GWDBmQMRDtpWH5o7ZntkytynxjrZAntFjMt6Dhe2ctSsVda58kcqttEo;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
